# ADD API Client below

ctp.projectKey=
ctp.clientId=
ctp.clientSecret=
ctp.authUrl=https://auth.europe-west1.gcp.commercetools.com
ctp.apiUrl=https://api.europe-west1.gcp.commercetools.com
ctp.scopes=

spring.devtools.restart.enabled=true
spring.jackson.default-property-inclusion=non_null
server.error.whitelabel.enabled=false
server.port=8080

