## mh-exam-prep-poc-admin

mh-exam-prep-poc-admin.projectKey=
mh-exam-prep-poc-admin.clientId=
mh-exam-prep-poc-admin.clientSecret=
mh-exam-prep-poc-admin.authUrl=
mh-exam-prep-poc-admin.apiUrl=
mh-exam-prep-poc-admin.scopes=

## happy-garden-conc-product-read

happy-garden-conc-project-read.projectKey=happy-garden-concept-project
happy-garden-conc-project-read.clientId=v3ikO7OjShI_ZDCaDxLlU4Hi
happy-garden-conc-project-read.clientSecret=jo3ZzmOInBQKZ2purGhFJmIDWQUNYh_u
happy-garden-conc-project-read.authUrl=https://auth.europe-west1.gcp.commercetools.com
happy-garden-conc-project-read.apiUrl=https://api.europe-west1.gcp.commercetools.com
happy-garden-conc-project-read.scopes=view_shipping_methods:happy-garden-concept-project view_products:happy-garden-concept-project view_customers:happy-garden-concept-project view_types:happy-garden-concept-project view_tax_categories:happy-garden-concept-project view_categories:happy-garden-concept-project view_customer_groups:happy-garden-concept-project view_attribute_groups:happy-garden-concept-project
