## exam prep trial project admin api client - for practice

exam-prep-project-admin.projectKey=
exam-prep-project-admin.clientId=
exam-prep-project-admin.clientSecret=
exam-prep-project-admin.authUrl=
exam-prep-project-admin.apiUrl=
exam-prep-project-admin.scopes=

# exam prep import source project read-only API client

import-src-project-read.projectKey=
import-src-project-read.clientId=
import-src-project-read.clientSecret=
import-src-project-read.authUrl=
import-src-project-read.apiUrl=
import-src-project-read.scopes=

## exam prep poc admin - to be used in-class

mh-exam-prep-poc-admin.projectKey=
mh-exam-prep-poc-admin.clientId=
mh-exam-prep-poc-admin.clientSecret=
mh-exam-prep-poc-admin.authUrl=
mh-exam-prep-poc-admin.apiUrl=
mh-exam-prep-poc-admin.scopes=

## happy garden concept product read - don't edit

happy-garden-conc-project-read.projectKey=happy-garden-concept-project
happy-garden-conc-project-read.clientId=v3ikO7OjShI_ZDCaDxLlU4Hi
happy-garden-conc-project-read.clientSecret=jo3ZzmOInBQKZ2purGhFJmIDWQUNYh_u
happy-garden-conc-project-read.authUrl=https://auth.europe-west1.gcp.commercetools.com
happy-garden-conc-project-read.apiUrl=https://api.europe-west1.gcp.commercetools.com
happy-garden-conc-project-read.scopes=view_shipping_methods:happy-garden-concept-project view_products:happy-garden-concept-project view_customers:happy-garden-concept-project view_types:happy-garden-concept-project view_tax_categories:happy-garden-concept-project view_categories:happy-garden-concept-project view_customer_groups:happy-garden-concept-project view_attribute_groups:happy-garden-concept-project
